  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .header h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .section {
    margin-bottom: 40px;
  }

  .badges-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 4 badges per row */
    gap: 10px;
    justify-content: center;
  }

  .badge-square {
    width: calc(100% - 20px); /* Adjust badge width to fit 4 per row with gap */
    max-width: 180px; /* Set maximum width for better responsiveness */
    height: 180px;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .badge-square:hover {
    transform: scale(1.1); /* Scale up on hover */
  }

  .badge-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }

  .badge-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    text-align: center;
    margin-top: 50px;
  }

  .social-icons-container {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
    position: relative;
  }

  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
  }

  .social-icon:hover {
    color: #ff6600;
    transform: scale(1.2);
  }

  .social-icons-border {
    border: 2px solid #ff6600;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transform: scale(1);
  }

  .social-icons-container:hover .social-icons-border {
    transform: scale(1.1);
    border-color: #fff;
  }

  .social-icons-container:hover .social-icon {
    color: #ff6600;
    transform: scale(1.2);
  }

 #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place particles behind other content */
  }
